<div class="pt-24">
  <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <!--Left Col-->
    <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
      <!-- <p class="uppercase tracking-loose w-full">{{ page.title }} App</p> -->
      <h1 class="text-5xl leading-tight mb-4">
        {{ page.banner.title | markdownify }}
      </h1>
      <span class="text-xl mb-8">
        {{ page.banner.subtitle | markdownify }}
      </span>
      <div class="text-center mx-auto mb-8">
        {% include review-compact.html review=page.reviews.items.first %}
      </div>
      <div class="text-center mx-auto">
        {% if page.appstore %}
        <a href="{{ page.appstore }}">
          <img class="h-16 m-4 fill-current inline" src="../assets/uploads/appstore.png" />
        </a>
        {% endif %}
        {% if page.playstore %}
        <a href="{{ page.playstore }}">
          <img class="h-16 m-4 fill-current inline" src="../assets/uploads/playstore.png" />
        </a>
        {% endif %}
      </div>
    </div>
    <!--Right Col-->
    <div class="w-full md:w-3/5 py-6">
      <img class="w-full md:w-4/5 z-50 mx-auto p-8" src="{{ page.banner.image }}" />
    </div>
  </div>
</div>
