<!doctype html>
<html>
    <head>
      {% include head.html %}
      <style>
        .gradient {
          background: linear-gradient(90deg, {{ page.color }} 0%, {{ page.color }}AA 100%);
        }
        .rounded {
          border-radius: 10px;
        }
        div.my-text > p {
          margin-bottom: 2em;
        }
      </style>
    </head>
    <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
        {% include nav2.html %}
        {% include hero.html %}
        {% include wave1.html %}
        <section class="bg-white py-8">
          <div class="container mx-auto m-16">
            <article class="prose lg:prose-xl mx-auto">
              {{ content }}
            </article>
          </div>
        </section>

        {% include wave2.html %}
        {% include cta2.html %}
        {% include footer.html %}
    </body>
</html>
